@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Tilt+Prism&display=swap');
:root {
 --slider-padding: 3rem;
}

*{
    margin: 0.25rem;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }

 /* Header */

 header{
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slider Carousel */

#headline-container {
    /* height: 100%;
    margin: 20px; */
    display: inline-block;
    width: 98%;
    justify-content: center;
    overflow: scroll ;
}

#headline-slider {
    /* list-style: none;
    display: grid;
    grid-auto-flow: column;
    overflow-x: hidden;
    overscroll-behavior-inline: contain; */
    --slider-index: 0;
    display: flex;
    width: 100%;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

#headline-container .slider-List {
    min-width: 24%;
    display: flex;
    justify-items: left;
    align-items: center;
    transition: all 0.5s ease;
}

.slider-News {
    width: 100%;
    height: 40vh;
    /* margin: 0.5rem; */
    color: whitesmoke;
    background-image: linear-gradient(120deg, rgb(0, 0, 0), #8b8282);
    background-blend-mode: darken;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:end;
    font-size:x-large; 
    transition: transform 0.5s ease;
    cursor: pointer;
}

.slider-News:hover {
    transform: scale(1.04);
}

.slider-News-heading {
    margin: 0 1rem 1rem;
    text-align: left;
    font-size: 2vh;
    cursor: pointer;
}

.slider-Read-button {
    width: 20vh;
    background: none;
    padding: 0.5rem;
    font-size: small;
    margin: 0 1rem 1.5rem 1rem ;
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.7s ease;
}

.slider-Read-button:hover {
    color: black;
    background-color: whitesmoke;
}

.snaps-inline {
    scroll-behavior: auto;
    overscroll-behavior-x: auto;
    scroll-snap-type: inline mandatory;
    scrollbar-width: none;
}

.snaps-inline::-webkit-scrollbar {
    display: none;
}

.snaps-inline > #headline-list > * {
    scroll-snap-align: center;
}

.handle {
    float: right;
    margin: 0.25rem;
    width: var(--slider-padding);
    height: var(--slider-padding);
    background-color: gainsboro;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    z-index: 10;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.handle:hover {
    background-color: rgb(0, 0, 0,0.5);
    color:whitesmoke;
    transform: scale(1.1);
}


/* news tab */
.tabs {
    overflow: auto;
    margin: 0;
}

.tab-header {
    height: 30px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.tabs .tab-header > div {
    width: calc(100% / 4);
    text-align: center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    margin-bottom: 1.5rem;
}

.tabs .tab-header > div.active {
    color: #00acee;
}

.tab-indicator {
    width: calc(100% /4);
    height: 5px;
    background: #00acee;
    left: 0px;
    border-radius: 5px;
}

.tab-body {
    max-width: 100%;
    transition: all 0.5s ease;

}

#news-container {
    display: flex;
    flex-direction: column;
    /* margin: 0; */
    /* align-items: flex-end; */
}

.news {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 50px;
    box-shadow: 5px 10px 5px #ccc;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;   
    transition: all 0.5s ease;
}

.news-Div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s ease;
}

.news-Image {
    width: 50%;
    /* aspect-ratio: 10 / 16; */
    border: 1px solid rgb(73, 73, 73);
    border-radius: 1rem;
    transition: all 0.5s ease;
}

.news-Read-button {
    max-width: 90vw;
    background: none;
    padding: 0.4rem;
    font-size: small;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.news-Read-button:hover {
    transform: scale(1.1);
    background-color: black;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}



@media(max-width:845px) {
    #headline-container .slider-List {
        min-width: 31.8%;
    }
}

@media (max-width: 750px){
    #headline-container .slider-List {
        min-width: 48%;
    }

    .handle {
        display: none;
    }
} 

@media(max-width:500px){
    .news {
        flex-direction: column;
    }
    .news-Image {
        width: 90%;
    }
    .news-Div {
        display: flex;
        max-width: 90%;
    }
}

@media(max-width:450px) {
    #headline-container .slider-List {
        min-width: 90%;
    }
}